* {
  font-family: Roboto, 'Open Sans', Arial, Helvetica, sans-serif;
}
html, body {
  background-color: #eee;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#__next {
  display: flex;
  height: 100%;
  width: 100%;
}